nav img {
    width: 50px;
    height: 50px;
}

.navbar-nav .nav-link {
    color: yellow;
    font-family: 'Lalezar', cursive;
}

.dropdown-menu {
    background-color: #212529;
    border: 3px solid yellow;
    font-family: 'Lalezar', cursive;
}

.dropdown-item {
    color: yellow;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background: url(https://res.cloudinary.com/playrey/image/upload/v1570755165/blur-building-cars-395537_joy8ky.jpg);
    background-position: center;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: #212529;
    color: yellow;
    font-family: 'Lalezar', cursive;
    border: 3px dashed yellow;
}
/*=================================================================================================*/
/*styles for the form*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #212529;
    /*border-radius: 8px;*/
    color: yellow;
    font-family: 'Lalezar', cursive;
    border: 3px dashed yellow;
}

form h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

form select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

form button {
    padding: 19px 39px 18px 39px;
    color: #212529;
    background-color: yellow;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #e8eeef;

    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form label.light {
    font-weight: 300;
    display: inline;
}

span.number {
    color: #212529;
    background-color: yellow;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}

/*=================================================================================================*/
/*styles for the categories */
.row {
    margin-left: auto;
    margin-right: auto;
}

span {
    margin: 3px 3px 10px 3px;
}


span button {
    padding: 19px 39px 18px 39px;
    color: #212529;
    background-color: yellow;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 3px solid #212529;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    /*margin-bottom: 10px;*/
    margin: 3px 3px 10px 3px;
}

a.catlink {
    color: #212529;
    font-family: 'Lalezar', cursive;
}

/*styles for the car cards*/

.card {
    background-color: #212529;
    color: yellow;
    font-family: 'Lalezar', cursive;
    border: 3px solid yellow;
    border-radius: 5px;
    margin: 3px 3px 10px 3px;
}

.card img {
    max-width: 100%;
}

p.card-text {
    font-size: 1.3rem;
}

.btn-primary {
    color: #212529;
    background-color: yellow;
    border: 3px solid #212529;
    border-radius: 5px;
}

.btn-primary:hover {
    color: yellow;
    background-color: #212529;
    border-color: yellow;
}